@font-face {
  font-family: "chelsea market";
  src: url(./fonts/ChelseaMarket-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: chelsea market;
}

body {
  background-color: navajowhite;
  overflow-x: hidden;
  padding: 20px;
}

/* need help getting media quary to work */
@media  screen and (min-width: 700px) {
  .header-grid{
    grid-auto-flow: column;
    grid-template-areas: none;
  }
}

.header-grid{
  display: grid;
  grid-template-areas: 
  "header1 headshot"
  "header2 headshot"
  "header3 headshot"
  "Commision-card headshot";
}

.header-grid1{
  grid-area: header1;
  width: minmax(250px, 500px);
}

.header-grid2{
  grid-area: header2;
  width: minmax(250px, 500px);
}

.header-grid3{
  grid-area: header3;
  width: minmax(250px, 500px);
}

.profile-img{
  grid-area: headshot;
  width: minmax(250px, 500px);
  height: 600px;
}

main {
  color: black;
}

h1 {
  color: darkorange;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

h2,
h3 {
  color: rgb(32, 216, 0);
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.main-grid {
  grid-area: Commision-card;
  display: grid;
  justify-content: space-evenly;
  gap: 1px;
  grid-template-columns: minmax(250px, 500px) minmax(250px, 500px);
  max-width: 600px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "grid-1 grid-2"
    "footer footer";
  background-color: rgb(0, 159, 203);
  border-radius: 15%;
  border: darkorange 3px double;
  margin: auto;
}

.commission-card {
  grid-auto-flow: row;
  margin: auto;
  align-items: center;
  text-align: center;
}

.commission-img {
  width: 100%;
  background-color: snow;
  border-radius: 50%;
  height: 200px;
}

.grid-header {
  grid-area: header;
}

.grid-header h2 {
  color: darkorange !important;
}

.commission-card h3 {
  padding-bottom: 20px;
}

.commisions-closed{
  font-weight: bolder;
  color: hotpink;
}

.grid-1 {
  grid-area: grid-1;
  justify-self: center;
  max-width: 200px;
}

.grid-2 {
  grid-area: grid-2;
  justify-self: center;
  max-width: 200px;
}

@keyframes rainbow {
  0%   {box-shadow: 0px 0px 20px 20px red;}
  25%  {box-shadow: 0px 0px 20px 20px yellow;}
  50%  {box-shadow: 0px 0px 20px 20px blue;}
  75%  {box-shadow: 0px 0px 20px 20px green;}
  100% {box-shadow: 0px 0px 20px 20px red;}
}

.grid-1:hover .commission-img ,.grid-2:hover .commission-img {
  animation-name: rainbow;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}

.grid-footer {
  grid-area: footer;
  width: 80%;
}

footer {
  position: sticky;
  bottom: 0px;
  padding: 0px;
  background-color: rgb(23, 1, 168);
}

footer img {
  width: 25px;
}

.footer-text {
  display: inline;
  color: white;
}

/* Image carousel */

.carousel-wrapper{
  display: flex;
  justify-content: center;
}

#img-carousel {
  position: relative;
  width: 500px;
  height: 500px;
}

#img-carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

#img-carousel img.active {
  opacity: 1;
}

#img-carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #717171;
  color: #f1f1f1;
  font-size: 32px;
  font-stretch: condensed;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

#img-carousel button:hover {
  background-color: green;
}


#img-carousel button#prev {
  left: -35px;
  padding: 7px 17px 7px 15px;
}

#img-carousel button#next {
  right: -35px;
  padding: 7px 15px 7px 17px;
}


/* Slide in and Fade */

.item {
  opacity: 0;
  transition: opacity 0s, transform 0s;
}

.left {
  transform-origin: left center;
  transform: translateX(-50%);
}

.right {
  transform-origin: right center;
  transform: translateX(50%);
}

.slide-in {
  opacity: 1 !important;
  transform: translateX(0);
  transition: opacity 1.5s, transform 1.5s;
}
